.creation{
    width: 100%;
    margin: 0;
   
}

.creation__box{
    max-width: 450px;
    max-height: 675px;
    box-shadow: 0px 0px 3px 1px #424561;
    margin: 0 auto 20px;
}

.creation__box--biggerImage {
    overflow-y: scroll;
}

.creation__image{
    max-width: 100%;
    margin-bottom: -4px;
}

.creation__form{
    display: flex;
    justify-content: center;
}
