html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    padding: 45px;
    background-image: url("../img/mainbackground.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #f0f0f0;
}
    